.row {
    padding: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* 
#userdetails {
    border-collapse: collapse;
    width: 100%;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: left;
}

th {
    background-color: #588c7e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
} */